.line {
  background-color: #eee;
  width: 100%;
  height: 0.1rem;
}
.table-box {
  margin-top: 0.2rem;
  border-top: 0.2rem solid #3B3A3F;
  border-bottom: 0.2rem solid #3B3A3F;
  padding: 0 0.16rem;
  background-color: #302F37;
}
.mint-tab-container-item {
  padding-top: 0.8rem;
}
.order-list-one h3 {
  position: relative;
  text-align: center;
  padding: 0.16rem 0 0.16rem 0.26rem;
  font-size: 0.25rem;
  font-weight: 700;
  text-align: left;
}
.order-list-one h3::before {
  content: "";
  width: 0.03rem;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}
.order-list-one .table {
  width: 100%;
}
.order-list-one .table tr {
  width: auto;
}
.order-list-one .table td,
.order-list-one .table th {
  padding: 0.16rem 0;
  color: #ccc;
  text-align: center;
  font-size: 0.26rem;
  vertical-align: middle;
  border: none;
}
.order-list-one .table .button-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.order-list-two .table {
  width: 100%;
}
.order-list-two .table tr {
  width: auto;
}
.order-list-two .table td {
  width: 2rem;
}
.order-list-two .table td,
.order-list-two .table th {
  padding: 0.16rem 0.3rem;
  color: #ccc;
  text-align: center;
  font-size: 0.26rem;
  vertical-align: middle;
  border: none;
}
.order-list-two .table .tdActive {
  color: #ff1313;
}
.order-list-two .table .button-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.box-tab .btn-default {
  border: 0.02rem solid #4e4d4d;
  border-radius: 0.2rem;
  display: inline-block;
  height: 0.8rem;
  width: 100%;
  text-indent: 0.2rem;
  background: none;
}
.box-tab .margin {
  margin: 0.2rem 0;
}
.box-tab .radio-group li {
  width: 24%;
  margin-right: 1%;
}
.box-tab .button-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}
.box-tab .button-box .btn {
  padding: 0.2rem 0.5rem;
  border: 0.02rem solid #c5c1c1;
}
.order-info-box-wrap {
  margin-top: 0.2rem;
  border-top: 0.2rem solid #1F2636;
  padding: 0 0.16rem;
  background-color: #08080D;
}
.order-info-box-wrap > li {
  width: 100%;
  padding-bottom: 0.2rem;
}
.order-info-box-wrap > li .row-box {
  display: flex;
  align-items: center;
}
.order-info-box-wrap > li .row-box > div {
  width: 50%;
  text-align: left;
  font-size: 0.26rem;
}
.order-info-box-wrap > li .row-box .title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.26rem;
}
.order-info-box-wrap > li .row-box .title .tag {
  color: #1b8e5d;
  border: 1px solid #1b8e5d;
  padding: 0.03rem 0.1rem;
  margin-left: 0.2rem;
  border-radius: 0.03rem;
}
.order-info-box-wrap > li .row-box .title .tagred {
  color: #c61616;
  border: 1px solid #c61616;
}
.order-info-box-wrap > li .row-box .foot-btn-box {
  text-align: right;
}
.order-info-box-wrap > li .row-box .foot-btn-box .foot-btn {
  width: 2rem;
  border: 0.01rem solid #c61616;
  border-radius: 0.3rem;
  text-align: center;
  display: inline-block;
  padding: 0.1rem 0.3rem;
  line-height: 0.26rem;
  color: #c61616;
}
.order-info-box-wrap > li:nth-last-of-type(1) {
  border-bottom: none;
}
.wrapper {
  padding-bottom: 0.3rem;
}
.mint-navbar .mint-tab-item {
  padding: 0.2rem 0;
}
.mint-navbar .mint-tab-item.is-selected {
  border: none;
  margin-bottom: 0;
}
.mint-navbar .mint-tab-item .mint-tab-item-label {
  font-size: 0.22rem;
}
.mint-navbar .mint-tab-item .iconfont {
  display: block;
  font-size: 0.46rem;
  margin-bottom: 0.12rem;
}
.top-navbar {
  top: 1rem !important;
  background-color: #302F37 !important;
  justify-content: center;
}
.top-navbar .mint-tab-item {
  padding: 0.3rem 0;
  background-color: #302F37;
}
.top-navbar .top-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 2.5rem;
}
.top-navbar .top-nav-item /deep/ .mint-tab-item-label {
  font-size: 0.24rem;
}
.top-navbar .top-nav-item.is-selected {
  color: #fff;
}
.top-navbar .top-nav-item.is-selected :after {
  display: block;
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.06rem;
  background-color: #138eb4;
  left: 50%;
  bottom: 0.05rem;
  transform: translateX(-50%);
}
::v-deep .v-modal {
  z-index: 10;
}
.activeGreen {
  color: #31b97e;
}
.activeRed {
  color: #c61616;
}
.button-box /deep/ button {
  font-size: 0.2rem;
}
#app.red-theme .top-navbar {
  background-color: #E9E9E9 !important;
}
#app.red-theme .top-navbar .mint-tab-item {
  background-color: #E9E9E9;
}
#app.red-theme .top-navbar .top-nav-item.is-selected {
  color: #000;
}
#app.red-theme .top-navbar .top-nav-item.is-selected :after {
  background-color: #BB1815;
}
#app.red-theme .sub-navbar {
  background-color: #E9E9E9;
}
#app.red-theme .wrapper {
  background-color: #E9E9E9;
}
#app.red-theme .load-all {
  background: #fff !important;
}
#app.red-theme .table-box {
  background-color: #E9E9E9;
  border-top: 0.2rem solid #fff;
  border-bottom: 0.2rem solid #fff;
}
#app.red-theme .table-box td,
#app.red-theme .table-box th {
  color: #000;
}
.radio-group li div.on {
  background-color: #ec9e2f;
}
.btn-red {
  background-color: #f5991d;
}
